/*CSS general**/

body{
    background-color: #222;
    color: aliceblue;
    font: 200 14px "Poppins", sans-serif;
    
}
h2{
    font-size: 36px;
    line-height: 36px;
}

p{
    text-align: justify;
}

cite{
    font-weight: 300;
}
i{
    font-size: 24px;
}
I:hover{
    color: #ffc900;
    cursor: pointer;
}

a:any-link{
    color: white;
}

a:-webkit-any-link{
    color: white;
}

a:-moz-any-link{
    color: white;
}
ul{
    list-style: none;
}


li{
    float:left;
    margin-right: 15px;
}

h3{
    color: #999;
    font-size: 18px;
}

nav{
    position:fixed;
    width: 100%;
    height: 65px;
    top: 0;
    background-color: #222;
    border-bottom: 1px solid white;
    text-align: center;

}
nav ul{
    display: inline-block;
}

nav ul li{
    padding-top: 12px;
}

section{
    padding: 10px 100px 10px 100px;
}

/*CSS clase**/
.hashtag{
    color: #ffc900
}
.seccion{
    padding: 10px 100px 10px 100px;
}
#liImg{
    padding: 10px
}

#logo{
    padding-top: 0px;
}

#redessociales{
    margin-top: 20px;
    
}

#inicio{
    background-image: url("../recursos/fondo.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    min-height: 280px;
    padding-top: 75px;
}
#experencia{
    background-color: white;
    color: #222;
}

#portfolio{
    border-top: 1px solid #ffc900;
}